{% extends "layout.jinja2" %}

{% block content %}
    <p>This is the homepage.</p>
    <a href="/sendemail"><button class="btn btn-primary">Send Mail</button></a>
    <a href="/logout">Logout</a>
{% endblock content %}