{% extends "layout.jinja2" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seeker_home.css') }}">
{% endblock css %}

{% block content %} 
    <header>
        <div class="header">
            <img src="{{ url_for('static', filename='img/logo4.png') }}" alt="WorkHub logo" />
            <a href="/seeker_home" id="logo">WorkHub</a>
            <form id="search" action="/search" method="post">
                <input autocomplete="off" autofocus name="search" placeholder="Search" type="text">
            </form>
            <div class="header-right">
                <a href="/seeker_home" id="Home">Home</a>
                <a href="/jobs" id="Jobs">Jobs</a>
                <a href="/messages" id="Messages">Messages</a>
                <a href="/logout" id="Log out">Log out</a>
            </div>
        </div>
    </header>
    <main>
        <h3> Search resutls: </h3>
    </main>
{% endblock content %}