<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>

    {% include "css_includes.jinja2" %}

    <title>{{ title }}</title>

    {% block css %}
    {% endblock css %}
</head>
<body>
    {% block content %}
    {% endblock content %}
    <footer style="position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: dodgerblue;
    color: white;
    text-align: center;">
        Copyright &#169 WorkHub Inc 2021
    </footer>
    {% include "js_includes.jinja2" %}
</body>
</html>
