{% extends "layout.jinja2" %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        body {
            text-align: center;
        }
    </style>
{% endblock css %}

{% block content %}
    <main class="form-signin">
        <img src="{{ url_for('static', filename='img/logo4.png') }}" width="20%" alt="logo" />
        <h1 class="my-4 display-3">Register as member</h1>

        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}

        <form method="POST" action="/register">
            <div class="row">
                {{ form.csrf_token }}
                <div class="col-md-6 mb-3">
                    {{ form.fname(class="form-control", id="first-name", placeholder="First Name") }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.lname(class="form-control", id="last-name", placeholder="Last Name") }}
                </div>
            </div>
            <div class="col-md-12 mb-3">
                {{ form.role(class="form-select text-muted") }}
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    {{ form.contact(class="form-control", id="contact", placeholder="Contact") }}
                </div>
                <div class="col-md-8 mb-3">
                    {{ form.email(class="form-control", id="email", placeholder="Email") }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.password(class="form-control", id="password", placeholder="Password") }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.confirm(class="form-control", id="confirm-password", placeholder="Confirm Password") }}
                </div>
            </div>
            <div class="col-md-12">
                {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
            </div>
            <p class="mt-5 mb-3 text-muted">Already a member?&ensp;<a href="/login">Sign in <i class="bi bi-arrow-right"></i></a></p>
        </form>
    </main>
{% endblock content %}